@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --bg: #1B262C;
    --a: #903749;
    --font: #FFAEBF;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand';
    background-color: var(--bg);
    color: var(--font);
    font-size: 3vh;
}

a {
    color: var(--font);
    text-decoration: none;
    background-color: var(--a);
}