.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.container2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-inline: auto;
}

.item2{
    align-self: center;
    padding-inline: 30%;
}

.item a{
    font-size: 10svh;
}

html, body{
    font-family: Luminari, fantasy;
    background-color: #491f4a;
    margin: 0;
    height: 100%;
    width: 100%;
}

a, h1 {
    font-size: 5svh;
    text-decoration: none;
    color: #913f92;
    transition: 0.3s;
    text-transform: uppercase;
}

a[href]:hover{
    color: white;
}

.back{
    padding: 1svh;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

/* SMARTPHONE */
@media only screen and (max-width: 720px) {
    a, .item a{
        font-size: 6svh;
    }
    .container2{
        margin-top: 50vw;
    }
}