@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --bg: #1B262C;
    --a: #903749;
    --font: #FFAEBF;
    --box: #131B1F;
}

.style{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Quicksand';
    background-color: var(--bg);
    color: var(--font);
    font-size: 3vh;
}

.containerhead {
    align-items: center;
    background-color: var(--a);
    border-radius: 5px;
    padding: 1vh;
    text-align: center;
    width: 20vw;
    margin-block-start: 2vh;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
}

.header{
    margin-block-start: 15px;
    width: 98%;
    background-color: var(--a);
    text-align: center;
    align-items: center;
    padding-block: 1vh;
    height: 5vh;
    border-radius: 10px;
}

.header a {
    text-decoration: none;
    color: var(--font);
    cursor: default;
}

.container{
    width: 90vw;
    border-radius: 30px;
    background-color: var(--box);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 3vh;
}

.itemrow{
    display: flex;
    justify-content: space-between;
    margin: 5vh;
}

.items{
    background-color: var(--a);
    width: 30vw;
    padding-block: 7vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out;
    margin-inline: 5vw;
}

.items:hover{
    border-color: var(--font);
}

.itemrow a{
    text-decoration: none;
    color: var(--font);
}

.footer {
    width: 98%;
    bottom: 0;
    background-color: var(--a);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    border-radius: 10px;
    margin-block-end: 15px;
}

.footer img {
    padding-block-end: 5px;
    filter: brightness(80%);
    max-height: 3svh;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    transition: 0.2s ease-in-out;
}

.footer img:hover{
    filter: brightness(100%);
}

/* Media Query for screens with a max-width of 600px */
@media screen and (max-width: 800px) {
    .itemrow {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .containerhead{
        width: 60vw;
    }

    .items {
        width: 80vw;
        margin: 20px 0;
        padding-block: 6vh;
    }

    html, body{
        overflow: auto;
    }

    .footer{
        margin: 0;
    }
}