@import url('https://fonts.googleapis.com/css?family=Urbanist&display=swap');
@import 'variables.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background: radial-gradient(circle, var(--indexrd), transparent), url('https://cdn.midjourney.com/c90814e5-6b6e-4688-a4c6-d1eae08de54b/0_0.webp');
    background-position: center;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: 130vh;
  }
  
.container2 {
    display: flex;
}

.main > div {
    margin-inline: 10%;
}

.style {
    background-color: var(--indexbg);
    font-family: 'Urbanist', sans-serif;
    font-size: 2svh;
}

h2 a{
    background-color: transparent;
    color: var(--font);
    text-transform: uppercase;
}

.main {
    display: flex;
    text-align: center;
    min-height: 80svh;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--font);
}

.image {
    border-radius: 20px;
    width: 20vw;
}

.header {
    position: fixed;
    top: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4svh;
    width: 100%;
    font-size: var(--headfont);
    padding: 1svh;
}

.header a {
    margin: 1svh;
}

    
.name{
    margin-left: auto;
}

.bottom {
    background-color: var(--indexrd);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 5svh;
}

.bottom img{
    margin-inline: 0.25svh;
    margin-block: 1svh;
    max-width: 25px;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 10px;
}

.bottom img:hover{
    background-color: var(--rd);
    border: 1px solid var(--font);
    border-radius: 15px;
    transition: 0.5s;
}

.menu{
    width: 50vw;
    font-size: var(--menufont);
}

a:hover{
    transition: 0.5s;
    color: white;
    text-shadow: 5px 5px var(--rd);
}

menu > a[href] {
    border: 5px  solid black;
}

/* SMARTPHONE */

@media only screen and (max-width: 720px) {
    .header{
        align-self: center;
    }
    .main{
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
    .menu{
        font-size: 130%;
    }
    .container2{
        margin-top: 25%;
    }
    .image{
        width: 25svh;
    }
    body{
        background-size: 75vh;
        background-position-y: 20vh;
    }
}