@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container2 {
    display: flex;
}

.main > div {
    margin-inline: 10%;
}

.style {
    background-color: #491f4a;
    font-family: Luminari, fantasy;
    font-size: 2svh;
}

h2 a{
    background-color: #491f4a;
    color: #913f92;
    font-weight: 100;
    text-transform: uppercase;
}

.main {
    display: flex;
    text-align: center;
    min-height: 80svh;
    align-items: center;
}

a {
    text-decoration: none;
    color: #913f92;
}

.image {
    border-radius: 20px;
    width: 20vw;
}

.header {
    align-self: flex-end;
    height: 4svh;
}

.bottom {
    background-color: #321633;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    min-height: 5svh;
}

.bottom img{
    margin-inline: 1svh;
    margin-block: 1svh;
    max-width: 25px;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 10px;
}

.bottom img:hover{
    background-color: #491f4a;
    border: 1px solid #913f92;
    border-radius: 15px;
    transition: 0.5s;
}

.menu{
    width: 50vw;
    font-size: 3svh;
}

a:hover{
    transition: 0.5s;
    color: white;
}