@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');
@import 'variables.css';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.style {
    background-color: var(--bg);
    color: var(--font);
    text-decoration: none;
    font-weight: 100;
    font-family: 'Urbanist', sans-serif;
    font-size: 5svh;
    text-transform: uppercase;
}

h2 a{
    text-decoration: none;
    background-color: var(--bg);
    color: var(--font);
    font-weight: 100;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    min-height: 80svh;
    align-items: center;
}

.menu a[href]{
    padding: 5px;
}

.menu a[href]:hover, a[href]:hover{
    color: white;
    transition: 0.5s;
    text-shadow: 5px 5px var(--rd);
}

a {
    margin: 15px;
    text-decoration: none;
    color: var(--font);
    text-decoration: none;
}
