:root {
    --bg: #491f4a;
    --font: #913f92;
    --rd: #321633;
    --indexbg: #120b31;
    --indexrd: #110d21;

    --menufont: 5svh;
    --headfont: 3svh;
}

/* --bg: #6096BA; --font: #A3CEF1; --rd: #274C77;
--bg: #800E13; --font: #AD2831; --rd: #640D14;
--bg: #A3B18A; --font: #DAD7CD; --rd: #588157; */