@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.main > div {
    display: inline-block;
    margin-inline: 10%;
}

.style {
    background-color: #913f92;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

h2 a{
    font-family: Luminari, fantasy;
    text-decoration: none;
    background-color: #491f4a;
    color: white;
    font-weight: 100;
    text-align: center;
}


.main {
    flex: 4;
    padding: 2em;
    justify-content: center;
    text-align: center;
    flex-basis: 80%;
    flex-shrink: 1;
}


.menu a[href]{
    transition: 0.5s;
    border: 3px solid transparent;
    padding: 5px;
}

.menu a[href]:hover {
    color: white;
    border: 3px solid #913f92;
    border-radius: 10px;
}

a {
    margin: 15px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    cursor: default;
}

.image {
    border: 0;
    border-radius: 20px;
    width: 20%;
    height: auto;
    transition: 0.3s;
}

.header {
    flex: 1;
    flex-basis: 5%;
    align-self: flex-end;
    line-height: 2;
    flex-shrink: 0;
}

.bottom {
    flex: 1;
    flex-basis: 5%;
    background-color: #491f4a;
    color: white;
    text-align: center;
    line-height: 2;
    /* margin-top: auto; */
    width: 100%;
}

.bottom img{
    width: 2%;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 33%;
}
.bottom img:hover{
    background-color: #913f92;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    transition: 1s;
}


body, html {
    height: 100%;
    margin: 0;
}

.menu{
    position: relative;
    border: 1px solid transparent;
    background-color: #491f4a;
    border-radius: 10%;
    text-transform: uppercase;
    font-size: 100%;
    width: 33%;
    margin-left: 33%;
    text-align: center;
}