@import url('https://fonts.googleapis.com/css?family=Lexend&display=swap');


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.style {
    background-color: #d36135;
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
}

h2 a{
    text-decoration: none;
    background-color: rgb(108, 108, 225);
    color: white;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
}


.main {
    flex: 8;
    padding: 20px;
}


.menu a[href]{
    transition: 0.5s;
    border: 3px solid transparent;
    padding: 5px;
}

.menu a[href]:hover {
    color: white;
    border: 3px solid #9c9cdb;
    border-radius: 10px;
}

a {
    margin: 15px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    cursor: default;
}


.image {
    border: 0;
    border-radius: 20px;
    width: 300px;
    height: auto;
    transition: 0.3s;
}

img:hover {
    width: 310px;
    cursor: default;
}

.header {
    flex: 1;
    background-color: #d36135;
    color: white;
    align-self: flex-end;
    line-height: 2;
}

.bottom {
    flex-shrink: 0;
    background-color: #964424;
    color: white;
    text-align: center;
    line-height: 2;
    margin-top: auto;
    width: 100%;
}

.bottom img{
    width: 30px;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 33%;
}
.bottom img:hover{
    background-color: #d36135;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 100%;
    transition: 1s;
}


body, html {
    height: 100%;
    margin: 0;
    font-family: Lexend;
}

.menu{
    text-transform: uppercase;
    height: auto;
    width: 500px;
    background-color: rgb(108, 108, 225);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    text-align: center;
}