@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --bg: #491f4a;
    --font: #913f92;
    --rd: #321633;
    --indexbg: #120b31;
    --indexrd: #110d21;

    --menufont: 5svh;
    --headfont: 3svh;
    --phonefont: 3.5svh;

    --fontfamily: 'Manrope', sans-serif;
}