@import 'variables.css';
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item{
    text-align: center;
}

body{
        font-family: 'Urbanist', sans-serif;
    width: 100%;
    background-color: var(--bg);
    height: 100%;
    margin: 0;
}

a[href], a{
    text-decoration: none;
        font-family: 'Urbanist', sans-serif;
    text-transform: uppercase;
    color: #912f92;
}

a[href]:hover{
    transition: 0.5s;
    color: white;
}

button{
    padding: 10px;
    border: 2px solid #912f92;
    background-color: var(--bg);
    color: #912f92;
}

button:hover{
    transition: 0.3s;
    background-color: #912f92;
    color: var(--bg);
}

input{
    background-color: var(--bg);
    color: #912f92;
    border: 1px solid #912f92;
}

label{
    color: #912f92;
    text-transform: uppercase;
}